@import '../../styles/variables.scss';

.userContainer {
		@include grid(auto, 1fr auto, $gridGap);


	.userInfo {
		@include grid(200px auto, auto, $gridGap);

		.card:nth-child(1) {
			padding: 0;

			img {
				width: 100%;
				min-height: 200px;
				max-height: 250px;
				object-fit: cover;
			}

			> div {
				padding: 1.5rem 0.8rem;
			}

			.card-title {
				@include headerText;
			}
		}

		.card:nth-child(2) {
			@include flex(stretch, stretch, column);

			.card-header {
				@include flex(space-between, center);

				h3 {
					@include headerText;
				}
			}

			.card-body {
				flex: 1;
				overflow: auto;

				h5.card-title {
					font-size: 1.3rem;
					font-weight: 500;
					margin-bottom: 0.2rem;
				}
			}

			.card-footer {
				@include flex(space-between, center);
			}
		}
	}

	.userPosts {
		.post {
					border-bottom: $mainBorder;
					padding: 0.7rem 1.5rem;
					background: $whiteText;

					.postHeader {
						@include flex(flex-start, stretch);

						img {
							max-width: 50px;
							min-width: 50px;
							max-height: 50px;
							min-height: 50px;
							border-radius: 50%;
						}

						> div {
							margin: 0 1rem;
							@include flex(center, flex-start, column);

							span {
								font-weight: 500;
								color: $mainColor;
							}
						}

						button {
							background: none;
							font-size: 2rem;
							margin-left: auto;
							padding: 0;

							span {
								color: red;
							}
						}
					}

					.postBody {
						p {
							padding-top: 1rem;
							min-height: 4rem;
						}

						small:nth-child(3) {
							margin-left: 1rem;
						}
					}
				}
	}
}
