* {
	box-sizing: border-box;
}

body {
	background: #ccc !important;
	height: 100vh;
	display: flex;
}

#root {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.card {
	border-radius: 8px !important;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.custom-file-input {
	cursor: pointer;
}

.customModal {
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

.customModalDialog {
	width: 70% !important;
	max-width: 70% !important;
	height: 400px !important;
}

/* DASHBOARD CONTAINER */

:root {
	--gridGap: 2rem;
}

.dashboardContainer {
	display: grid;
	position: relative;
	gap: var(--gridGap);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fit, minmax(1fr, 350px));
	margin: 2rem auto;
	width: 1140px;
	top: 50px
}

.profileInfoContainer {
	display: grid;
	grid-template-columns: 200px auto;
	gap: var(--gridGap);
}

.profileInfoContainer > div {
	max-height: 350px;
}

.editProfileContainer {
	display: grid;
	grid-template-columns: 100%;
}

.noteContainer {
	display: grid;
	grid-template-columns: 30% auto;
	gap: var(--gridGap);
}

.noteContainer > div {
	max-height: 350px;
}

.postsContainer > div {
	max-height: 400px;
}
