body {
  background: #ccc !important;
}

.card {
  border-radius: 8px !important;  
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.custom-file-input {
  cursor: pointer;
}

.customModal {
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.customModalDialog {
  width: 70% !important;
  max-width: 70% !important;
  height: 400px !important;
}